<div class="form-container">
  <h2>{{ isEdit ? 'Редагування книги' : 'Додавання книги' }}</h2>

  <form (ngSubmit)="saveBook()">
    <label>Назва:</label>
    <input [(ngModel)]="book.title" name="title" required />

    <label>Автор:</label>
    <input [(ngModel)]="book.author" name="author" required />

    <label>Опис:</label>
    <textarea [(ngModel)]="book.description" name="description"></textarea>

    <label>Мова книги:</label>
    <select [(ngModel)]="book.language" name="language" required>
      <option value="uk">Українська</option>
      <option value="en">Англійська</option>
    </select>

    <button type="submit">{{ isEdit ? 'Зберегти' : 'Додати' }}</button>
    <button type="button" (click)="router.navigate(['/'])">Скасувати</button>
  </form>
</div>
