nav {
  display: flex;
  align-items: center;
  background-color: #ff9800;
  color: white;
  padding: 10px;
}

nav a {
  color: white;
  margin-left: 12px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
