<div class="search-sort">
  <input type="text" placeholder="Пошук..." [(ngModel)]="searchTerm">
  <select [(ngModel)]="sortBy">
    <option value="title">Сортувати за назвою</option>
    <option value="author">Сортувати за автором</option>
  </select>
</div>

<div class="book-container">
  <div class="card" *ngFor="let book of filteredBooks">
    <h3><a [routerLink]="['/book', book.id]">{{ book.title }}</a></h3>
    <p>Автор: {{ book.author }}</p>
  </div>
</div>

<p style="text-align:center;">Всього книг: {{ totalBooks }}</p>
